*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    padding: auto;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 12vh;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
img{
    width: 5vw;
    height: 7vh;
}