:root {
  --color-fondo: #fff;
  --color-principal: #3d1f0f;
  --color-texto: #1a1a1a;
  --color-input: #f5f5f5;
  --color-borde: #ccc;
  --color-link: #3d1f0f;
  --padding: 1em;
  --gap: 1.2em;
}

html {
  font-size: 16px; 
}

body {
  font-family: sans-serif;
  background: var(--color-fondo);
  margin: 0;
  padding: var(--padding);
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

.login-container {
  width: 90%;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  color: var(--color-texto);
  margin: auto;
}

h1 {
  color: var(--color-principal);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.75em 1em;
  border: 0.0625rem solid var(--color-borde); 
  border-radius: 0.25em;
  background: var(--color-input);
  font-size: 1rem;
  box-sizing: border-box;
}

.password-container {
  position: relative;
  width: 100%;
}

.login-button {
  background-color: var(--color-principal);
  color: white;
  padding: 0.9em;
  border: none;
  border-radius: 0.25em;
  font-size: 1rem;
  cursor: pointer;
}

.registro {
  text-align: center;
  font-size: 0.9rem;
}

.registro a {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

a{
    margin: 0 15px;
    text-decoration: none;
    color: var(--color-input);
    font-weight: 500;
}