:root {
  --color-fondo: #ffffff;
  --color-texto: #000000;
  --color-precio: #333333;
  --color-descuento: #666666;
  --color-primario: #0033ff;
  --color-secundario: #e0e0e0;
  --color-carrito-fondo: #f9f9f9;
  --color-carrito-borde: #ddd;
  --fuente-principal: 'Arial', sans-serif;
  --color-boton: #fec195;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  border-bottom: 1px solid var(--color-secundario);
}

.logo {
  font-size: 1rem;
  font-weight: bold;
}

nav a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.icons span {
  margin-left: 1rem;
  font-size: 1rem;
}

main {
  padding: 4rem;
  text-align: center;
}

main h2 {
  font-size: 2em;
  margin-bottom: 1rem;
  color: #4a2f13;
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 1rem 2rem;
    text-align: center;
  }
  .productos {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .carrito {
    position: static;
    width: 90vw;
    margin: 1rem auto;
    font-size: 12px;
  }
  main {
    padding: 1rem;
  }
}
 
body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contacto-container {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 350px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
}

form button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background-color: #f1c40f;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background-color: #d4ac0d;
}



.mapa-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}